@font-face {
    font-family: "JetBrainsMono-Regular";  
    src: url("../fonts/JetBrainsMono-2.304/fonts/ttf/JetBrainsMono-Regular.ttf") format("truetype"); 
    font-style: normal; 
    font-weight: normal;
}
body{
    margin: 0;
    background-color: #2B2C30;
    font-family: "JetBrainsMono-Regular"; 
    text-align: justify; /* выравнивание текста по ширине */
}
.container {
    max-width: 1491px;
    padding: 0 15px;
    margin: 0 auto;
}
.leftimg {
    float:left; /* Выравнивание по левому краю */
    margin: 7px 7px 7px 0; /* Отступы вокруг картинки */
}
.rightimg  {
    float: right; /* Выравнивание по правому краю  */ 
    margin: 7px 0 7px 7px; /* Отступы вокруг картинки */
}
.centerimg{
    margin: 7px auto;
    text-align: center;
}
td{
    background: #e8edff;
    border-bottom: 1px solid #fff;
    color: #669;
    border-top: 1px solid transparent;
    padding: 8px;
  }
main{
    padding-top: 250px;
}
.cent{
	text-align:center;
    font-size: 22px;
    color: #5CC8CF;
}
.h{
	text-align:center;
	color:white;
background:	 #2960FF;
}
h1{
    text-align: center;
    color: #2E64E7;
}
.textp{
    color: #5CC8CF;
}


.nachalo{
    width: 100%;
    padding: 0px 0px 300px 0px;
    color: #ffffff;
    font-size: 14;
}

.nachalo img{
    width: 300px;
    height: 279px;
}
.nachalo h4{
    color: #5CC8CF;
    font-style: normal;
    font-size: 36px;
    line-height: 48px;
}
.nachalo h2{
    position: absolute;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 84px;
}
.nachalo a{
    text-decoration: none;
}
















.menu p{
    width: 100%;
	height:150px;
	padding-top:30px;
	background:url('../img/1670030896_62-kartinkin-net-p-fon-dlya-prezentatsii-shesterenki-pinteres-70.jpg') 9% 50%/auto 85% no-repeat;
	background-size: 100%;
    text-align:center;    
    color: white;
	margin: 0;
	font-size: 30px;
}
nav{
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 15;
    float: left;
}
nav a{
	text-decoration:none;
}
.menu{

	width:100%;
    font-size: 16px;
    font-family: "JetBrainsMono-Regular"; 
    background-color: #34353A;
}
.hmenu{
    margin: 0 auto;
    display: table;
}
ul {	
    display:block;
    margin:0px;
    padding:0px;

}
ul:after {
    display: block;
    float: none;
    content: ' ';
    clear: both;
}
ul.hmenu > li {  
	list-style:none;
    float: left;
    position: relative;
}
ul.hmenu > li > a {	
	margin-right:8px;
    display: block;
    color: #fff;
    padding: 10px;
    text-decoration: none;

}
ul.hmenu > li > a:hover {
    text-decoration: underline;
}
ul.active1 {
    position: absolute;
    width: 240px;
    top: 37px;
    left:0px;
    display: none;

}
ul.active1 > li {
    display: block;
    background-color: #34353A;
}
ul.active1 > li > a {
    display: block;
    text-decoration: none;
    padding: 10px;
    color: #ffffff;
}
ul.active1 > li > a:hover {
    background-color: #5CC8CF;
    text-decoration: underline;
}
ul.hmenu > li:hover > ul.active1 {
    display: block;
}
.clear{
    clear: left;
}
.vvedenie{
    width: 100%;
    color: #ffffff;
    font-size: 14;
}
.vvedenie p{
    font-size: 16px;
}
p{
    text-indent: 30px;
}
.vvedenie ul{
    text-indent: 50px;
}




.ponyatia{
    width: 100%;
    color: #ffffff;
}
.ponyatia h2{
    font-size: 28px;
    color: #5CC8CF;
}
.ponyatia h4{
    font-size: 22px;
    color: #2E64E7;
}
.ponyatia p{
    font-size: 16px;
    font-style: normal;
}
.ponyatia a{
    font-size: 16px;
    font-style: normal;
    color: #5CC8CF;
}





.footer_glav{
    background-color: #34353A;
    color:white;
    height:150px;
    text-align:center;
    border-radius:10px;
}
.footer{
    background: url(../img/Логотип_Пермский_авиационный_техникум-150x150.png) no-repeat;
}
.footer .r{
    padding-top:15px;
}