body{
    font-family: Arial, sans-serif;
}
.preloader {
    /*фиксированное позиционирование*/
    position: fixed;
    /* координаты положения */
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    /* фоновый цвет элемента */
    background: #e0e0e0;
    /* размещаем блок над всеми элементами на странице (это значение должно быть больше, чем у любого другого позиционированного элемента на странице) */
    z-index: 1001;
  }
  
  .preloader__row {
    position: relative;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-top: -35px;
    margin-left: -35px;
    text-align: center;
    animation: preloader-rotate 2s infinite linear;
  }
  
  .preloader__item {
    position: absolute;
    display: inline-block;
    top: 0;
    background-color: #337ab7;
    border-radius: 100%;
    width: 35px;
    height: 35px;
    animation: preloader-bounce 2s infinite ease-in-out;
  }
  
  .preloader__item:last-child {
    top: auto;
    bottom: 0;
    animation-delay: -1s;
  }
  
  @keyframes preloader-rotate {
    100% {
      transform: rotate(360deg);
    }
  }
  
  @keyframes preloader-bounce {
  
    0%,
    100% {
      transform: scale(0);
    }
  
    50% {
      transform: scale(1);
    }
  }
  
  .loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
  }
  
  .loaded .preloader {
    display: none;
  }
nav{
    position: fixed;
    width: 100%;
    height: 60px;
    background: #344051;
    position: fixed;
    z-index: 15;
}
.logo{
    color: #fff;
    font-size: 22px;
    line-height: 60px;
    float: left;
    -webkit-animation: comming 3s ease;
    -o-animation: comming 3s ease;
    animation: comming 3s ease;
}
@keyframes comming{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes topshift{
    from{
        opacity: 0;
        margin-top:-80px;
    }
    to{
        opacity: 1;
        margin-top: 0px;
    }
}
.menu{
    float: left;
   
}
.menu li{
    float: left;
    line-height: 60px;
    color: #fff;
    margin-right: 40px;
    font-size: 14px;
    text-transform: uppercase;
    -webkit-animation: topshift 3s ease forwards;
    -o-animation: topshift 3s ease forwards;
    animation: topshift 3s ease forwards;
    opacity: 0;
}
.menu li:nth-child(2){
    animation-delay: 0.4s;
}
.menu li:nth-child(3){
    animation-delay: 0.8s;
}
.menu li:nth-child(4){
    animation-delay: 1.2s;
}
.menu li:nth-child(5){
    animation-delay: 1.6s;
}
.menu li:nth-child(6){
    animation-delay: 2.0s;
}
.white-btn:visited{
    color: white;
}

.menu li a{
    transition: all 0.1s;
    color: #fff;
    transform: scale(1);
    display: inline-block;
}
.menu li a:visited{
    color: white;
}
.menu li a:hover{
    color: #e88604;
}
.menu li a:active{
    transform: scale(1.1);
}
main{
    width: 100%;
    height: 100%;
}
.main{
    float: right;
    width: 100%;
    height: calc(100% - 60px);
    background: url(../img/p.png) 90% 100%/auto 85% no-repeat,url("../img/doski.jpg") center/cover no-repeat;
    box-shadow: inset 0px 0px 200px 20px #000;
}
    /*
    animation: shake 1s infinite;
  }
  
  @keyframes shake {
    0% { transform: translate(5px, 5px) rotate(0deg); }
    10% { transform: translate(-5px, -7px) rotate(-1deg); }
    20% { transform: translate(-8px, 5px) rotate(1deg); }
    30% { transform: translate(8px, 7px) rotate(0deg); }
    40% { transform: translate(5px, -5px) rotate(1deg); }
    50% { transform: translate(-5px, 7px) rotate(-1deg); }
    60% { transform: translate(-8px, 5px) rotate(0deg); }
    70% { transform: translate(8px, 5px) rotate(-1deg); }
    80% { transform: translate(-5px, -5px) rotate(1deg); }
    90% { transform: translate(5px, 7px) rotate(0deg); }
    100% { transform: translate(5px, -7px) rotate(-1deg); }
  }*/
.title_container{
    color: #2c384a;
    text-align: center;
    width: 100%;
    opacity: 0;
    -webkit-animation: titlemove 1.5s ease forwards;
    -o-animation: titlemove 1.5s ease forwards;
    animation: titlemove 1.5s ease forwards;
    -webkit-animation-delay: 2.4s;
    -o-animation-delay: 2.4s;
    animation-delay: 2.4s;
}
@keyframes titlemove{
    from{
        opacity: 0;
        margin-left: -500px;
    }
    to{
        opacity: 1;
        margin-left: 0px;
    }
}
.title_container h1{
    font-size: 72px;
    font-weight: 600;
}
.title_container h4{
    margin-top: 40px;
    color: #79818d;
    text-align: center;
    font-size: 22px;
}
.title_container input{
    width: 96px;
    height: 40px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    cursor: pointer;
    margin: 50px 14px 0px 14px;
}
.title_container input{
    transition: all;
    transform: scale(1);
}
.title_container input:hover{
    background: #344051;
    color: #fff;
}
.title_container input:active{
    transform: scale(1.1);
}
@media (max-width:991px){
    .title_container, .title_container h4, .title_container input{
        color: white;
        position: relative;
        z-index: 3;
    }
    .title_container input{
        border: 2px solid #fff;
    }
    .main{
        position: relative;
    }
    .main::after{
        content: "";
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
        position: absolute;
        background: rgba(0, 0, 0, 0.4);
    }
}

/*.about{
    -webkit-animation: abo 3s ease forwards;
    -o-animation: abo 3s ease forwards;
    animation: abo 3s ease forwards;
    opacity: 0;
}
@keyframes abo{
    from{
        opacity: 0;
        margin-left:-500px;
    }
    to{
        opacity: 1;
        margin-left: 0px;
    }
    
}*/
.about{
    padding-top: 60px;
    padding-bottom: 96px;
}
.about_container h2{
    font-size: 33px;
    text-transform: uppercase;
    font-weight: 650;
}
.about_container hr{
    height: 4px;
    border: none;
    background: #d17700;
    width: 60px;
    margin: 0 auto 60px;
    opacity: 1;
}

.about_container a{
    display: block;
    width: 200px;
    border: 2px solid #6d7682;
    background: url(../img/ik.png) left no-repeat;
    border-radius: 5px;
    color: black;
    font-size: 22px;
    cursor: pointer;
    margin: 37px auto;
    text-decoration: none;
}
.skills{    
    background: url(../img/foncase.png)center/cover no-repeat;
}
.skills_container{
    padding-top: 60px;
    padding-bottom: 96px;
}

.skills_container h2{
    text-align: center;
    font-size: 33px;
    margin: 0px auto 30px;
    text-transform: uppercase;
    font-weight: 650;
}
.skills_container hr{
    height: 4px;
    border: none;
    background: #d17700;
    width: 80px;
    margin: 0 auto 100px;
    opacity: 1;
}

.skills_item img{
    margin-bottom: 20px;
    height: 40px;
}

.skills_item h3{
    font-size: 18px;
    color: #cf7600;
    margin-bottom: 20px;
}
.skills_item p{
    font-size: 16px;
}

.clear{
    clear: both;
}






/*.case{
    -webkit-animation: cas 3s ease forwards;
    -o-animation: cas 3s ease forwards;
    animation: cas 3s ease forwards;
    opacity: 0;
}
@keyframes cas{
    from{
        opacity: 0;
        margin-left:-500px;
    }
    to{
        opacity: 1;
        margin-left: 0px;
    }
}*/
.case{
    padding-top: 80px;
    padding-bottom: 128px;
}
.case{
    width: 100%;

}
.case h2{
    text-align: center;
    width: 214px;
    font-size: 33px;
    margin: 0px auto 30px;
    text-transform: uppercase;
    font-weight: 650;
}
.case hr{
    height: 4px;
    border: none;
    background: #d17700;
    width: 70px;
    margin: 20px auto;
    opacity: 1;
}
.case .textcs{
    text-align: center;
    font-size: medium;
    margin: 35px 0px 35px 0px;
}
.text_case{
    font-size: 15px;
}
.text_case h4{
    font-size: 27px;
    color: #384354;
}
.text_case .company{
    font-size: 17px;
    color: #384354;
}
.text_case input{
    background: #63b5ae;
    border-radius: 5px;
    font-size: 30px;
    margin: 14px 0px 0px 0px;
    transition: all;
    transform: scale(1);
}
/*.text_case input:hover{
    background: #4e9a93;
}
.text_case input:active{
    transform: scale(1.1);
}*/
.text_case2 h4{
    font-size: 27px;
    color: #384354;

}
.text_case2 .ttl{
    font-size: 17px;
    color: #384354;
}
.description_left h3{
    font-size: 25px;
}

.description_left p{
    font-size: 17px;
    margin: 16px 0;
}

.description_left a, .calculator_footer button{
    margin-top: 25px;
    display: block;
    width: 100%;
    background: #63b5ae;
    height: 44px;
    line-height: 44px;
    text-align: center;
    color: white;
    font-size: 20px;
    border-radius: 8px;
    
}
.description_right h4{
    font-size: 25px;
    margin-bottom: 10px;
}
.description_right p{
    font-size: 20px;

}








.buy h2{
    font-size: 33px;
    padding-top: 80px;
    padding-bottom: 100px;
    font-weight: 650;
}
.calculator{
    max-width: 890px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.calculator h3{
    font-size: 29px;
    text-transform: uppercase;
    margin-bottom: 24px;
}
.calculator select{
    margin-bottom: 44px;
}

.calculator hr{
    height: 2px;
    border: none;
    background: #eee;
    width: 100%;
    margin: 0 auto 24px;
    opacity: 1;
    
}

.mySelect{
    display: block;
    width: 100%;
    max-width: 890px;
    height: 54px;
    background: #eeeeee;
    padding-left: 24px;
    font-size: 16px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background:  url(../img/select.png) 98% 54%/auto no-repeat, #eee;
}
.days, .price{
    margin-bottom: 0px;
    font-size: 21px;
    
}
.calculator_footer p{
    margin-bottom: 0;
}
.calculator_footer .text{
    float: left;
}

.calculator_footer .digit{
    font-size: 29px;
    float: right;
}

.calculator_footer button{
    width: 200px;
}







.statist{    
    width: 100%;
    background: url(../img/doski.jpg) ;
    background-attachment: fixed;
}
.statist h2{
    padding-top: 80px;
    text-align: center;
    font-size: 33px;
    margin: 30px 0px 0px 0px;
    font-weight: 650;
}
.statist hr{
    height: 4px;
    border: none;
    background: #ed8701;
    width: 70px;
    margin: 40px auto;
    opacity: 1;
}
.statist_item{
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    /*-webkit-animation: stat 3s ease forwards;
    -o-animation: stat 3s ease forwards;
    animation: stat 3s ease forwards;
    opacity: 0;*/
}
/*.statist_item:nth-child(2){
animation-delay: 0.4s;
}
.statist_item:nth-child(3){
animation-delay: 0.8s;
}
.statist_item:nth-child(4){
animation-delay: 1.2s;
}
.statist_item:nth-child(5){
    animation-delay: 1.6s;
}
.statist_item:nth-child(6){
     animation-delay: 2s;
}
@keyframes stat{
    from{
        opacity: 0;
        margin-top:-80px;
    }
    to{
        opacity: 1;
        margin-top: 0px;
    }
}*/

.statist_item img{
    margin-bottom: 30px;
}
.statist_item span{
    font-size: 50px;
}






.review h2{
    text-align: center;
    font-size: 33px;
    padding-top: 80px;
    font-weight: 650;
}
.review hr{
    height: 4px;
    border: none;
    background: #d17700;
    width: 70px;
    margin: 20px auto;
    opacity: 1;
}
.review img{
    
    margin-bottom: 25px;
}
.review p{

    font-size: 22px;
}
.review input{
    margin: 0 auto;
}






.contact{
    padding-top: 60px;
    padding-bottom: 55px;
}
.contact{    
    width: 100%;
    background: url(../img/foncontact.png) no-repeat;
}
.contact h2{
    text-align: center;
    font-size: 27px;
    color: #fff;
}
.contact p{
    text-align: center;
    color: #fff;
    font-size: 19px;
    margin-bottom: 15px;
}
.contact hr{
    height: 4px;
    border: none;
    background: #d17700;
    width: 70px;
    margin: 20px auto;
    opacity: 1;
}
/*.contact .tent{
    transition: all;
    transform: scale(1);
}
.contact .tent:hover{
    background: #4e9a93;
}
.contact .tent:active{
    transform: scale(0.8);
}*/
.input_text{
    align-items: center;
}
.input_text .push{
    background: #eeeeee;
    height: 54px;
    width: 355px;
    margin: 7px 0px 14px 15px;
    text-align: center;
}
.input_text2{
    align-items: center;
}
.input_text2 .textarea{
    display: block;
    background: #eeeeee;
    width: 85%;
    height: 80px;
    margin: 7px 0px 14px 73px;
    text-align: center;
}
.tent{
    border-radius: 7px;
    width: 230px;
    height: 54px;
    background:#63b5ae;
}
.socseti{
    display: block;
    margin-top: 100px;
    width: 420px;
    height: 30px;
}
@media (max-width:991px){
    .input_text2 .textarea{
        margin-left:42px;
    }
}








/*
.about_container img{
    display: block;
    margin: 0 auto;
    -webkit-animation: pulsing 3s forwards;
  animation: pulsing 3s forwards;
}
@keyframes pulsing {
  0% {
    -webkit-transform: scale(0.5, 0.5);
    transform: scale(0.5, 0.5)
  }
  100% {
    -webkit-transform: scale(1.0, 1.0);
    transform: scale(1.0, 1.0);
  }
}
.about_container a{
    transition: all;
    transform: scale(1);
}
.about_container a:hover{
    background: #344051;
    color: #fff;
}
.about_container a:active{
    transform: scale(0.9);
}


.skills_item{
    -webkit-animation: skil 3s ease forwards;
    -o-animation: skil 3s ease forwards;
    animation: skil 3s ease forwards;
    opacity: 0;
}
.skills_item:nth-child(2){
animation-delay: 0.4s;
}
.skills_item:nth-child(3){
animation-delay: 0.8s;
}
.skills_item:nth-child(4){
animation-delay: 1.2s;
}
.skills_item:nth-child(5){
    animation-delay: 1.6s;
}
.skills_item:nth-child(6){
    animation-delay: 2s;
}
@keyframes skil{
    from{
        opacity: 0;
        margin-top:-80px;
    }
    to{
        opacity: 1;
        margin-top: 0px;
    }
}

.skills{
    display: block;
}



